/*@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen'), url('../fonts/oxygen/Oxygen.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: local('Helvetica-Neue'), url('../fonts/helveticaneue/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe-Ui';
    src: local('Segoe-Ui'), url('../fonts/segoe-ui/SEGOEUI.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe-Ui-Bold';
    src: local('Segoe-Ui-Bold'), url('../fonts/segoe-ui/SEGOEUIB.ttf') format('truetype');
}*/